html {
    background-color: #f0f0f0 ;
}

body {
    background-color: #f0f0f0;
}

.white-banner {
    background-color: #fff;
    height: 50px;
    margin-top: 50px;
    position: relative;
}

.hero-title {
    height:105px;
    width:105px;
    background-color: none;
    position: absolute;
    left:45%;
    top:-25px;

}