body {
    font-family: 'Anton', sans-serif;
    font-size:15px;
}

h1, h2  {
    font-family: 'Anton', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3.des {
    color: #fff;
    margin-top:50px;
}

h4.des {
    color: #fff;
    margin-top:50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size:32px;
}

h5 {
    font-size:28px;

}
p {
    font-family: 'Abel', sans-serif;
}

p.sub-title {
    font-weight:bold;
}


body {
    background-color: #f0f0f0;
}


.logo-container {
    /*position: relative;*/
}

#work {
    margin-top:100px;
}

.cap {
    height:200px;
    width: 200px;
    border-radius: 100px;
    border: 8px solid #fff;
    display: inline-block;
    padding:20px;
    margin-right:8px;
    margin-top:10px;

}
.mini-cap {
    display: inline-block;
    height: 18px;
    width: 18px;
    font-size: 9px;
    line-height: 18px;
    border-radius: 100px;
    text-align: center;


}
.shift-right {
    text-align: right;
}
.cap-red {
    background-color: #E6563B;
}

.cap-orange {
    background-color: #e6a41d;

}

.cap-green {
    background-color: #7CB06C;
}

.cap-teal {
    background-color: #00ABA9;
}


.white-stripe {
    background-color: #fff;
    height: 50px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
    /*position: relative;*/
    /*top: 75px;*/

}

.white-stripe-p {
    padding:0;
}
.nav-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.img-size {
    width:auto;
}

.row.img-thumbnail {
    border-color: #E6E6E6;
}

.img-relative {
    height: 105px;
    width: 105px;
    z-index: 9000;
    top: 29px;
    position: relative;
}
.my-nav>li, ul {
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    list-style-type: none;

}

.my-nav>li {
    padding-right:15px;
}
.empty-row {
    height: 200px;
}

