html {
    background-color: #f0f0f0 ;
}

body {
    background-color: #f0f0f0;
}

.white-banner {
    background-color: #fff;
    height: 5%;
    margin-top: 50px;
}

.hero-title {
    height:auto;
    width:50%;
    /*background-color: none;*/
    /*position: absolute;*/
    /*left:45%;*/
    /*top:-25px;*/

}

.text-nav>li{
    display: inline-block;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 5px;
    /*margin-right: 5px;*/
}
